<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>
    
    <Property Id="DCS_FOUND_FOLDER" >
      <!-- If both are present, it will prefer steam over open beta -->
      <!-- Search for Open Beta -->
      <DirectorySearch Id="dcsOpenBeta" Depth="0" Path="[%USERPROFILE]">
        <DirectorySearch Id="dcsOpenBetaSavedGames" Depth="1" Path="Saved Games">
          <DirectorySearch Id="dcsOpenBetaFolder" Depth="4" Path="DCS.openbeta" AssignToProperty="true">
          </DirectorySearch>
        </DirectorySearch>
      </DirectorySearch>
      <!-- Search for Steam -->
      <DirectorySearch Id="dcsSteam" Depth="0" Path="[%USERPROFILE]">
        <DirectorySearch Id="dcsSteamSavedGames" Depth="1" Path="Saved Games">
          <DirectorySearch Id="dcsSteamFolder" Depth="4" Path="DCS" AssignToProperty="true">
          </DirectorySearch>
        </DirectorySearch>
      </DirectorySearch>
    </Property>

    <SetDirectory Id="DCSFOLDER" Value="[DCS_FOUND_FOLDER]" Sequence="ui"/>
    
    <Directory Id="DCSFOLDER">
      <Directory Id="Scripts" Name="Scripts">
      </Directory>
    </Directory>
  </Fragment>
</Wix>
